.Twitter {
  text-align: center;
}

.Twitter-logo {
  height: 21px;
  pointer-events: none;
}

.Twitter-header {
  background-color: #282c34;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Twitter-link {
  color: #61dafb;
}
.body{
  display: flex;
  flex-direction: row;
}
.USERCARD{
  width: 100%;
}