.usercard{
	width: 100%;
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
}

h1{
	width: auto;
	margin:.2em;
}

h3{
	width: auto;
	margin:.5em;
}

.nameimg{
	display: flex;
}

.divtag{
	display: flex;
	justify-content: center;
}

.img{
	background-image: url("./profile.jpg");
	background-size: cover;
	width: 4em;
	height: 4em;
	margin:.6em;
	border-radius: 100%;
	align-self: center;
}

.img:hover{
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
}
.avatar{
	width: 4em;
	height: 4em;
	margin:.6em;
	border-radius: 100%;
	align-self: center;
}